@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --blanco: #FEFEFF;
  --azul-opacidad: #004359;
  --dorado: #C99210;
  --bg-menu: #00202E;
  --bg-body: #f2f6fa;
  --bg--letter:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h2{
 
  
}

.user-cart  {
    margin-left: 500px;
    color: var(--azul-opacidad)
}

/*********** cards del admi dasboard**********/

/*.card{
  background-color: #004359;
  padding:20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px #0000003b;
  height: 200px;
}*/

.cards {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
flex-direction:  row;
margin:5em;
}
.card-items {
  background: white;
  transition: 0.3s ease;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 80vh;
  margin: 30px;
}

.img-embarcacion {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.card-items .content h2 {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  margin-top: 10px;
  color: var(--azul-opacidad)
}
.card-items .content p {
  padding-left: 10px;
  margin-left: 10px;
  font-size: 15px;
}

.card-items .content button {
  padding:  8px;
  background: var(--dorado);
  font-family: 'Poppins', sans-serif;
  color:var(--blanco);
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
  margin-left: 75px;

}

.card-items .content .button {
  text-align: center;
  padding-bottom: 10px;
  color:var(--blanco) ;
}

.card-items .content button:hover {
  color: var(--blanco);
  background: var(--bg-menu);
   
} 
 
/************************** Estilos del menu lateral - sidebar ***********************************/
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - esto cambia con js*/
  position: fixed; /* Se queda en el mismo lugar */
  z-index: 1; /* Se queda arriba */
  top: 0;
  left: 0;
  background-color:var(--azul-opacidad); /* Fondo azul*/
  overflow-x: hidden; /* Desactiva el desplazamiento horizontal */
  padding-top: 60px; /* Coloca el contenido a 60px de la parte superior*/
  transition: 0.5s; /*Efecto de transición de 0,5 segundos para deslizar en la barra lateral*/
}
    
/* Enlances del sidebar */
.sidebar a {
  padding: 15px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: var(--blanco);
  display: block;
  transition: 0.3s;
}
    
.sidebar .side-header{
  margin-left: 30px;
  margin-bottom: 8px;
  color: var(--blanco);
}

/* Al pasar el ratón por encima de los enlaces de navegación, cambia su color */
.sidebar a:hover {
  background-color: var(--bg-menu);
}
    
/* Posición y estilo del botón de cierre (esquina superior derecha) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 34px;
  padding: 20px;
}
    
/* Botón utilizado para abrir la barra lateral */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: var(--blanco);
  background-color:var(--azul-opacidad);
}
    
/* Estiliza el contenido de la página - Sirve para empujar el contenido de la página a la derecha cuando se abre la navegación lateral */
#main {
  transition: margin-left .5s; /* Efecto transicion*/
  padding: 20px;
}
    
/* En pantallas más pequeñas, donde la altura es inferior a 450px, cambia el estilo del sidenav (menos relleno y un tamaño de fuente más pequeño) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/************************** Estilos de las tablas *******************************/
 
table {
  width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
}
 
td,
th {
  padding: 10px 16px;
  text-align: center;
	border: 1px solid #ccc; 
	font-size: 18px;
}

th {
  background-color: var(--azul-opacidad);
  color: var(--blanco);
  font-family: 'Open Sans', Sans-serif;
  font-weight: bold;
}

tr {
  width: 100%;
  background-color: #d8d8d8f5;
  font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
  background-color: #eeeeeef5;
}

/******BOTON DE ALERTAS Y DE SALIDA******/
 
.btn{
color: #000;
margin-top: 0;
}

.btn:hover {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #000;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}  
 
.btn-warning{
  color: #000;  
  margin-right: 100px;
  margin-left: 100px;
   font-size: medium;
}
/************************ Inicio de sesión y registro ******************************/

